In [1]:
4+4

8

In [2]:
7//3

2

In [4]:
7/3

2.3333333333333335

In [5]:
a = 10
b = 30
c = 40

In [6]:
a %= 3
a

1

In [9]:
print(a,b,c, sep='\n')

1
30
40

In [10]:
7>3

True

In [12]:
from keyword import kwlist
kwlist
len(kwlist)

36

In [13]:
7>3 and 8<4

False

In [14]:
7<4 or 3>4 or 6<3 or not (7<10 and 8<18)

False

In [15]:
a,b,c

(1, 30, 40)

In [16]:
d = 5
e = 8
f = 2

In [23]:
print(d & e) # 0101 & 1000 = 0000
print(d | e) # 0101 | 1000 = 1101
print(d ^ e) # 0101 ^ 1000 = 1101
print(~d)
print(d >> 1) # m >> n => m/2^n
print(d << 3) # m << n => m * 2^n

0
13
13
-6
2
40

In [26]:
print('s' in 'Peeyush Sanam')
print('z' not in 'Peeyush Sanam')

True
True

In [27]:
a

1

In [28]:
a1 = 2
a2 = 1

In [29]:
a,a1,a2

(1, 2, 1)

In [30]:
id(a), id(a1), id(a2)

(4344260912, 4344260944, 4344260912)

In [32]:
a is a2

True