In [1]:
a = 10
a, b = 10,20
a = b = 30
a = 10,20

In [2]:
a

(10, 20)

In [3]:
type(a)

tuple

In [4]:
print(4,7,8,4)

4 7 8 4

In [5]:
print('hi',34)
print(5*10)

hi 34
50

In [6]:
print(5,7,8, sep='-')

5-7-8

In [7]:
print(5,7,8, end='\t')
print(8,9,10)

5 7 8	8 9 10

In [8]:
k = print('hi')

hi

In [9]:
k

In [10]:
type(k)

NoneType

In [11]:
print(k)

None

In [12]:
m = input('Enter your name:')

In [13]:
m

'Peeyush Sanam'

In [14]:
type(m)

str

In [15]:
n = input('Enter a number of your choice:')

In [16]:
n

'50'

In [17]:
p = input('Enter a python expression:')
print(p)
print(eval(p))

5+5
10

In [18]:
# Mutability

In [19]:
s = 'hello, this is a new process'

In [20]:
print(s)

hello, this is a new process

In [21]:
len(s)

28

In [22]:
type(s)

str

In [23]:
s[0]

'h'

In [24]:
s[-1]

's'

In [25]:
s

'hello, this is a new process'

In [26]:
# Slicing -  [begin : end (exclusive) : step size]
#   default       
# [  : : ..... ] step-size = +1
# [ .. : x : y] begin = 0 (ss-> +ve) ; begin=last (ss-> -ve)
# [ x : .. : y] end = last (ss-> +ve) ; end=0 (ss-> -ve)

s[0:5:1]

'hello'

In [31]:
s[0:5:]

'hello'

In [32]:
s[0:5]

'hello'

In [33]:
s[:5]

'hello'

In [34]:
s[:10]

'hello, thi'

In [35]:
s[-10:]

'ew process'

In [27]:
s[-7:28:1]

'process'

In [28]:
s[-1:-8:-1]

'ssecorp'

In [30]:
s[4:-29:-1]

'olleh'

In [36]:
s

'hello, this is a new process'

In [37]:
s[ :-8:-1]

'ssecorp'

In [39]:
s[4::-1]

'olleh'

In [40]:
s[::-1]

'ssecorp wen a si siht ,olleh'

In [41]:
'hi' * 10

'hihihihihihihihihihi'

In [42]:
'hi' + 'bye'

'hibye'

In [43]:
s

'hello, this is a new process'

In [44]:
s += ' here'
s

'hello, this is a new process here'

In [45]:
s = s[:5] + ' Ankit' + s[5:]
s

'hello Ankit, this is a new process here'

In [47]:
s[0] = 'k'

TypeError: 'str' object does not support item assignment

In [48]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [51]:
a = [23,'39',[4,2,5]]

In [52]:
print(a)
print(len(a))
print(type(a))

[23, '39', [4, 2, 5]]
3
<class 'list'>

In [53]:
a[0]

23

In [54]:
a[:2]

[23, '39']

In [55]:
a[-2:]

['39', [4, 2, 5]]

In [56]:
a[-1]

[4, 2, 5]

In [57]:
a[-2]

'39'

In [59]:
type(a[-2])

str

In [60]:
a[-2][-1]

'9'

In [61]:
a

[23, '39', [4, 2, 5]]

In [62]:
[4,7,8] * 2

[4, 7, 8, 4, 7, 8]

In [63]:
[4,5,7] + ['hi',9]

[4, 5, 7, 'hi', 9]

In [64]:
a += [10,20]
a

[23, '39', [4, 2, 5], 10, 20]

In [65]:
a += ['Hello']
a

[23, '39', [4, 2, 5], 10, 20, 'Hello']

In [66]:
a += [3456789]

In [67]:
a

[23, '39', [4, 2, 5], 10, 20, 'Hello', 3456789]

In [68]:
a[0] = 3.2
del a[-1]
a

[3.2, '39', [4, 2, 5], 10, 20, 'Hello']

In [69]:
b = (23,'39',[4,2,5])
print(len(b))
print(type(b))
print(b[0])
print(b[:2])

3
<class 'tuple'>
23
(23, '39')

In [70]:
b * 2

(23, '39', [4, 2, 5], 23, '39', [4, 2, 5])

In [71]:
b + (6,9,3)

(23, '39', [4, 2, 5], 6, 9, 3)

In [72]:
b + [4,6,7]

TypeError: can only concatenate tuple (not "list") to tuple

In [73]:
a

[3.2, '39', [4, 2, 5], 10, 20, 'Hello']

In [74]:
a += b
a

[3.2, '39', [4, 2, 5], 10, 20, 'Hello', 23, '39', [4, 2, 5]]

In [75]:
b += a

TypeError: can only concatenate tuple (not "list") to tuple

In [76]:
a += 'Python'
a

[3.2,
 '39',
 [4, 2, 5],
 10,
 20,
 'Hello',
 23,
 '39',
 [4, 2, 5],
 'P',
 'y',
 't',
 'h',
 'o',
 'n']

In [77]:
a = [4,5,6,7,'hi']
a

[4, 5, 6, 7, 'hi']

In [78]:
a += {'a1':4,'b1':5}
a

[4, 5, 6, 7, 'hi', 'a1', 'b1']

In [79]:
a += {7,89,0}

In [80]:
a

[4, 5, 6, 7, 'hi', 'a1', 'b1', 0, 89, 7]

In [81]:
d = {'a1':4,'b1':5}
print(d)
print(len(d))
print(type(d))
print(d['a1'])

{'a1': 4, 'b1': 5}
2
<class 'dict'>
4

In [82]:
d

{'a1': 4, 'b1': 5}

In [83]:
d['c1'] = [9,2,5,7]
d

{'a1': 4, 'b1': 5, 'c1': [9, 2, 5, 7]}

In [84]:
d['b1'] = 'hiiiii'
d

{'a1': 4, 'b1': 'hiiiii', 'c1': [9, 2, 5, 7]}

In [85]:
del d['a1']

In [86]:
d

{'b1': 'hiiiii', 'c1': [9, 2, 5, 7]}

In [87]:
e = {4,6,3,6,3,5,8,3,5,23,6}
print(e)

{3, 4, 5, 6, 23, 8}

In [88]:
e[0]

TypeError: 'set' object is not subscriptable

In [89]:
7>3

True

In [90]:
bool(9)

True

In [91]:
bool(-9)

True

In [92]:
# True: Non-zero or non-empty data
# False: zero or empty data

In [93]:
bool(0)

False

In [94]:
print(bool(''))
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(None))

print(bool([4]))
print(bool([()]))
print(bool(' '))

False
False
False
False
False
True
True
True