In [82]:
a = 10
b = 10.0
c = 10+0j
d = 'Hello'
e = [3,6,2]
f = (3,6,2)
g = {'a':[45,6], 'b':[1,6,2]}
h = {5,2,8}
i = True

ERROR! Session/line number was not unique in database. History logging moved to new session 13

In [83]:
a.real

10

In [84]:
# String Functions
print(d.count('l'))
print(d.index('e'))
print(d.find('l'))
print(d.split('l'))
print(d.strip('o'))
print(d.replace('l', 'L'))
print(d.join('WOW'))
print(d.upper())
print(d.lower())
print(d.islower())
print(d.isupper())
print(d.isalpha())

2
1
2
['He', '', 'o']
Hell
HeLLo
WHelloOHelloW
HELLO
hello
False
False
True

In [85]:
'        hi this is     '.strip()

'hi this is'

In [86]:
'hi this is'.split('i')

['h', ' th', 's ', 's']

In [87]:
'awesome'.join('bakwas')

'bawesomeaawesomekawesomewawesomeaawesomes'

In [88]:
'-'.join('bakwas')

'b-a-k-w-a-s'

In [89]:
' wow '.join(['hi','there','to','nice'])

'hi wow there wow to wow nice'

In [90]:
days = 10
s = "This will last at most %d days"%(days)
print(s)

This will last at most 10 days

In [91]:
days = 10
s = f"This will alst at most {days} days"
print(s)

This will alst at most 10 days

In [92]:
# # String Types
#  - Ordinary String
#  - F-string
#  - Raw-string    r'this is a \n raw string'
#  - byte-string   b'this is a byte string'

In [93]:
s = "this will last at most {} days"
days = 10
s = s.format(days)
print(s)

this will last at most 10 days

In [94]:
s = "this will last at most {1} days in {1} and extra {0}"
days = 10
extra = 5
s = s.format(days, extra)
print(s)

this will last at most 5 days in 5 and extra 10

In [95]:
type(e)

list

In [96]:
# List Functions
e.append(50); print(e)
print(e.count(10))
e.extend([4,6,2,3]); print(e)
print(e.index(4))
e.insert(2, 100); print(e)
print(e.pop()); print(e)
e.remove(6); print(e)
e.reverse(); print(e)
e.sort(); print(e)

e1 = e.copy()
e2 = e

# e.clear()

[3, 6, 2, 50]
0
[3, 6, 2, 50, 4, 6, 2, 3]
4
[3, 6, 100, 2, 50, 4, 6, 2, 3]
3
[3, 6, 100, 2, 50, 4, 6, 2]
[3, 100, 2, 50, 4, 6, 2]
[2, 6, 4, 50, 2, 100, 3]
[2, 2, 3, 4, 6, 50, 100]

In [97]:
e

[2, 2, 3, 4, 6, 50, 100]

In [98]:
# Shallow copy vs Deep Copy
e1,e2

([2, 2, 3, 4, 6, 50, 100], [2, 2, 3, 4, 6, 50, 100])

In [99]:
e2.append(1000)
e2

[2, 2, 3, 4, 6, 50, 100, 1000]

In [100]:
e

[2, 2, 3, 4, 6, 50, 100, 1000]

In [101]:
e1

[2, 2, 3, 4, 6, 50, 100]

In [102]:
e1.append(2000)
e1

[2, 2, 3, 4, 6, 50, 100, 2000]

In [103]:
e2,e

([2, 2, 3, 4, 6, 50, 100, 1000], [2, 2, 3, 4, 6, 50, 100, 1000])

In [104]:
# Tuple
print(f)
print(f.index(3))
print(f.count(3))

(3, 6, 2)
0
1

In [105]:
# Dictionary
print(g)
print(g.keys())
print(g.values())
print(g.get('a'))
print(g.pop('b')); print(g)
g.update({'c':34}); print(g)

{'a': [45, 6], 'b': [1, 6, 2]}
dict_keys(['a', 'b'])
dict_values([[45, 6], [1, 6, 2]])
[45, 6]
[1, 6, 2]
{'a': [45, 6]}
{'a': [45, 6], 'c': 34}

In [106]:
# Set Functions
print(h)
h.add(50); print(h)
print(h.difference({2,10}))
print(h.intersection({2,10}))
print(h.pop()); print(h)
h.remove(50); print(h)
print(h.union({10,20,30,40}))

{8, 2, 5}
{8, 2, 50, 5}
{8, 50, 5}
{2}
8
{2, 50, 5}
{2, 5}
{2, 20, 5, 40, 10, 30}

In [107]:
# Type Conversion
float(a)

10.0

In [108]:
str(a)

'10'

In [109]:
int('3000')

3000

In [110]:
# int('30.4')
int(float('30.4'))

30

In [111]:
eval('45')

45

In [112]:
list(d)

['H', 'e', 'l', 'l', 'o']

In [113]:
tuple(d)

('H', 'e', 'l', 'l', 'o')

In [114]:
str(e)

'[2, 2, 3, 4, 6, 50, 100, 1000]'

In [115]:
dict(b=e)

{'b': [2, 2, 3, 4, 6, 50, 100, 1000]}

In [116]:
set(e)

{2, 3, 4, 6, 50, 100, 1000}

In [117]:
e1,e2

([2, 2, 3, 4, 6, 50, 100, 2000], [2, 2, 3, 4, 6, 50, 100, 1000])

In [118]:
[e1,e2]

[[2, 2, 3, 4, 6, 50, 100, 2000], [2, 2, 3, 4, 6, 50, 100, 1000]]

In [119]:
[*e1, *e2]
(*e1, *e2)

(2, 2, 3, 4, 6, 50, 100, 2000, 2, 2, 3, 4, 6, 50, 100, 1000)

In [120]:
g1 = {'a':4,'b':[5,6]}
g2 = {'c': 34, 'a': 'hi'}

In [121]:
g1.update(g2)
g1

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [122]:
{**g1, **g2}

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [123]:
# Control Statement
#########################
# if-elif-else  (pass)
# while-else  (continue, break)
# for-else
# try-except-else-finally

#  Suites
# -------------------
# statement1:
#     expr1
#     expr2
# statement2:
#     expr3
#     expr4
#     statement3:
#         expr5
#     expr6
# expr7

In [124]:
a = 30; b= 40; c = 29
if a>= b and a>= c:
    print(a)
elif b>=a and b>= c:
    print(b)
else:
    print(c)

40

In [125]:
a = 30
while a > 0:
    print('hello')
    a -= 7

hello
hello
hello
hello
hello

In [4]:
a = 30
while a > 0:
    print('hello')
    a -= 7
    if a == 16:
        # break
        continue
    print('achha')
else:
    print('oh')

hello
achha
hello
hello
achha
hello
achha
hello
achha
oh

In [5]:
# for(int i = 0; i<10;i++){
#     do something
# }
# arr = [3,5,6,78]
# foreach(var v in arr){
#     v
# }
a = [3,5,6,3]
for i in a:
    print(i, i*10)

3 30
5 50
6 60
3 30

In [6]:
table = [1,2,3,4,5,6,7,8,9,10]
num = 2
for i in table:
    print(num * i)

2
4
6
8
10
12
14
16
18
20

In [7]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
num = 2
for i in range(1,11,1):
    print(num * i)

2
4
6
8
10
12
14
16
18
20

In [11]:
for i in range(1,6):
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [12]:
# Comprehensions
# ----------------
# Conditional (not really a comprehension though)
# List
# Dict
# Set
# Generator

In [14]:
a = [3,5,6,3,8,2,3,8,5,9,10]

In [17]:
b = []
for i in a:
    # b.append(i*2)
    b += [i*2]
print(b)

[6, 10, 12, 6, 16, 4, 6, 16, 10, 18, 20]

In [18]:
# [ output for-loop ]
# [ output for-loop if-condition]
b1 = [i*2 for i in a]
print(b1)

[6, 10, 12, 6, 16, 4, 6, 16, 10, 18, 20]

In [19]:
b2 = [i for i in a if i%2 == 1]
print(b2)

[3, 5, 3, 3, 5, 9]

In [21]:
num = 36
print('odd') if num%2 else print('Even')

Even

In [ ]:
# b33 = []
# for i in a:
#     if i%2 == 1:
#         b33+= [f'{i} Odd']
#     else:
#         b33+= [f'{i} even']

In [24]:
b3 = [f'{i} Odd' if i%2 else f'{i} Even' for i in a]
print(b3)

['3 Odd', '5 Odd', '6 Even', '3 Odd', '8 Even', '2 Even', '3 Odd', '8 Even', '5 Odd', '9 Odd', '10 Even']

In [25]:
{i:i**2 for i in a}

{3: 9, 5: 25, 6: 36, 8: 64, 2: 4, 9: 81, 10: 100}

In [26]:
{i**2 for i in a}

{4, 9, 25, 36, 64, 81, 100}

In [27]:
(i**2 for i in a)

In [ ]:
https://github.com/sanampeeyush/piet_mlai